<a href="https://colab.research.google.com/github/Saturn-space/Python-Development/blob/main/10.Python%20Pandas%20(24_02_26).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Playing with Pandas:

import pandas as pd
data = {
    "Maths":[22,44,66],
    "Science":[72,66,26],
    "English":[62,54,16]
}

df = pd.DataFrame(data)

#index
dfi = pd.DataFrame(data,index=["Rohan","Sohan","Dohan"])
print("\n",df)
print("\n",dfi)
print("\n",df[["English", "Maths"]])

#loc
print(df.loc[2,"Maths"])
print(df.loc[:,:])
print(dfi.loc[:,:])
print(df.loc[:,"Maths"])

#iloc
print(df.iloc[2,2])
print(df.iloc[0,2])
print(df.iloc[2,0])

    Maths  Science  English
0     22       72       62
1     44       66       54
2     66       26       16

        Maths  Science  English
Rohan     22       72       62
Sohan     44       66       54
Dohan     66       26       16

    English  Maths
0       62     22
1       54     44
2       16     66
66
   Maths  Science  English
0     22       72       62
1     44       66       54
2     66       26       16
       Maths  Science  English
Rohan     22       72       62
Sohan     44       66       54
Dohan     66       26       16
0    22
1    44
2    66
Name: Maths, dtype: int64
16
62
66

In [7]:
#1. Write a python program using pandas dataframe:
#a. Create a dataframe of 5 students and 3 subjects

marks = {
    "Maths":[45,23,76,43,88],
    "Physics":[33,77,12,89,34],
    "Hindi":[34,67,45,90,65]
}
name = ["Nohan","Rohan","Sohan","Kohan","Dohan"]
dfi = pd.DataFrame(marks,name)

#b.Display the dataframe
print(dfi)
print("\n",dfi.loc[:,:])

#c.Find Total and average marks of each student
dfi["Total"] = dfi.sum(axis=1)
dfi["Average"] = dfi[["Maths","Physics","Hindi"]].mean(axis = 1)
print("\n",dfi.loc[:,:])

#d. Highest Marks in each subject
print("\nHighest Marks in each Subject : \nMaths : ",dfi["Maths"].max(axis=0),"\nPhysics : ",dfi["Physics"].max(axis=0),"\nHindi : ",dfi["Hindi"].max(axis=0))

       Maths  Physics  Hindi
Nohan     45       33     34
Rohan     23       77     67
Sohan     76       12     45
Kohan     43       89     90
Dohan     88       34     65

        Maths  Physics  Hindi
Nohan     45       33     34
Rohan     23       77     67
Sohan     76       12     45
Kohan     43       89     90
Dohan     88       34     65

        Maths  Physics  Hindi  Total    Average
Nohan     45       33     34    112  37.333333
Rohan     23       77     67    167  55.666667
Sohan     76       12     45    133  44.333333
Kohan     43       89     90    222  74.000000
Dohan     88       34     65    187  62.333333

Highest Marks in each Subject :
Maths :  88
Physics :  89
Hindi :  90